<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{178,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{355,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{532,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{709,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{886,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1063,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1240,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1417,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1594,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1771,1},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1,130},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{178,130},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>255_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,171}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{355,130},{127,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{528,130},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{705,130},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{882,130},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1059,130},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1236,130},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1413,130},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1590,130},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1767,130},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>35_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>36_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{178,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>37_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{355,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>38_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{532,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>39_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{709,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{886,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1063,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>41_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1240,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>42_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1417,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>43_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1594,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>44_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1771,259},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>45_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>49_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{178,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{355,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>50_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{532,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>51_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{709,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>52_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{886,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>53_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1063,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>54_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1240,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>55_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1417,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>56_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1594,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>57_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1771,388},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>58_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>59_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{178,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{355,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>60_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{532,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>61_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{709,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>65_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{886,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>66_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1063,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1240,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1417,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1594,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{127,175}</string>
                <key>textureRect</key>
                <string>{{1771,517},{127,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker_pdk.png</string>
            <key>size</key>
            <string>{1947,645}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d04a93731b79f3576dd95d794fa48b1:d45f193dae67ba723c00d69163b4b734:e257fd38440bd64731d08ec82d2b779e$</string>
            <key>textureFileName</key>
            <string>poker_pdk.png</string>
        </dict>
    </dict>
</plist>
